services:
  app:
    image: codaxy/cx-reports-data-agent:latest
    restart: always
    network_mode: host
    secrets:
      - source: appsettings_file
        target: /app/appsettings.Production.json
    volumes:
      - ./data:/root/.config/CxReports/DataAgent

secrets:
  appsettings_file:
    file: ./appsettings.Production.jsonc
